# Start with --all_incompatible_changes by default
build --all_incompatible_changes
# 
build --incompatible_enable_cc_toolchain_resolution=false
# 
build --incompatible_require_ctx_in_configure_features=false
# 
build --strategy=SwiftCompile=standalone
