build:bazelci --deleted_packages=docs
build --noexperimental_convenience_symlinks
# build --strategy=CoreCompile=standalone
# build --strategy=SwiftCompile=standalone

# build --all_incompatible_changes
# #build --incompatible_no_rule_outputs_param=false

# build --incompatible_depset_is_not_iterable=false 
# build --incompatible_depset_union=false
# build --incompatible_disable_deprecated_attr_params=false
# build --incompatible_disable_legacy_proto_provider=false 
# build --incompatible_disallow_legacy_javainfo=false
# build --incompatible_disallow_struct_provider_syntax=false 
# build --incompatible_enable_cc_toolchain_resolution=false 
# build --incompatible_new_actions_api=false
# build --incompatible_no_transitive_loads=false
# build --incompatible_require_ctx_in_configure_features=false 
# build --incompatible_use_jdk11_as_host_javabase=false 
# build --incompatible_use_toolchain_resolution_for_java_rules=false 
# build --incompatible_remove_native_maven_jar=false
# build --incompatible_allow_python_version_transitions=false
# build --incompatible_py3_is_default=false # grpc-python does not work with python3?
# build --incompatible_disallow_empty_glob=false
# build --incompatible_tls_enabled_removed=false
