load("@build_stack_rules_proto//toolchains:protoc.bzl", "protoc_toolchain")

protoc_toolchain()

load("@build_stack_rules_proto//{{ .Rule.Package }}:{{ .Rule.Name }}_deps.bzl", "{{ .Rule.Name }}_deps")

{{ .Rule.Name }}_deps(){{ if .Deps }}
{{ range .Deps }}{{ if .WorkspaceSnippet }}
{{ .WorkspaceSnippet }}{{ end }}{{ end }}{{ end }}

load("@rules_python//python:repositories.bzl", "py_repositories")

py_repositories()

load("@rules_python//python:pip.bzl", "pip_install")

pip_install(
    name = "py_grpc_library_py3_deps",
    python_interpreter = "python3",
    requirements = "@build_stack_rules_proto//plugins/python/grpc:requirements.txt",
)