load(
    "@build_stack_rules_proto//{{ .Rule.Package }}:{{ .Rule.Language.Prefix }}_{{ .Rule.Kind }}_compile.bzl",
    "{{ .Rule.Language.Prefix }}_{{ .Rule.Kind }}_compile",
)

load("@build_bazel_rules_nodejs//:index.bzl", "js_library")

GRPC_DEPS = [
    "@google_protobuf_node_modules//google-protobuf",
    "@grpc_js_node_modules//@grpc/grpc-js",
]

def {{ .Rule.Name }}(**kwargs):
    name_pb = kwargs.get("name") + "_pb"

    {{ .Rule.Language.Prefix }}_{{ .Rule.Kind }}_compile(
        name = name_pb,
        **{k: v for (k, v) in kwargs.items() if k in ("deps", "verbose")} # Forward args
    )

    js_library(
        name = kwargs.get("name"),
        srcs = [name_pb],
        deps = GRPC_DEPS,
        package_name = kwargs.get("name"),
        visibility = kwargs.get("visibility", []),
        tags = kwargs.get("tags", []),
    )
