load("@rules_proto//proto:defs.bzl", "proto_library")
load("@build_stack_rules_proto//{{ .Rule.Package }}:{{ .Rule.Name }}.bzl", "{{ .Rule.Name }}")

proto_library(
    name = "foo_proto",
    srcs = ["foo.proto"],
)

{{ .Rule.Name }}(
    name = "{{ .Rule.Name }}_foo_proto",
    deps = [":foo_proto"],
)