load("@bazel_tools//tools/build_defs/repo:http.bzl", "http_archive", "http_file")

def _maybe(repo_rule, name, **kwargs):
    if name not in native.existing_rules():
        repo_rule(name = name, **kwargs)

def {{ .Rule.Name }}_deps():{{ range .Deps }}
    {{ .Name }}(){{ end }}
{{ range .Deps }}if {{ if ne .RepositoryRule "phony" }}
def {{ .Name }}():
    _maybe(
        {{ .RepositoryRule }},
        name = "{{ .Name }}",{{ if .Sha256 }}
        sha256 = "{{ .Sha256 }}",{{ end }}{{ if .StripPrefix }}
        strip_prefix = "{{ .StripPrefix }}",{{ end }}{{ if .Urls }}
        urls = [{{ range .Urls }}
            "{{ . }}",{{ end }}
        ],{{ end }}{{ if .BuildFile }}
        build_file = "{{ .BuildFile }}",{{ end }}
    )
{{ end }}{{ end }}