load(
    "@build_stack_rules_proto//rules:proto_aspect.bzl",
    "proto_compile_aspect",
    "proto_compile_rule_macro",
    "proto_compile_rule",
)

_default_plugins = [{{ range .Rule.Plugins }}
    str(Label("{{ .Label }}")),{{ end }}
]

_{{ .Rule.Name }}_aspect = proto_compile_aspect(_default_plugins, "{{ .Rule.Name }}_aspect")

_{{ .Rule.Name }}_rule = proto_compile_rule(_{{ .Rule.Name }}_aspect)

def {{ .Rule.Name }}(**kwargs):
    proto_compile_rule_macro(_{{ .Rule.Name }}_rule, **kwargs)
