load(
    "@build_stack_rules_proto//{{ .Rule.Package }}:{{ .Rule.Language.Prefix }}_{{ .Rule.Kind }}_compile.bzl",
    "{{ .Rule.Language.Prefix }}_{{ .Rule.Kind }}_compile",
)
load("@rules_java//java:defs.bzl", "java_library")

PROTO_DEPS = ["@com_google_protobuf//:protobuf_java"]

def {{ .Rule.Name }}(**kwargs):
    name_pb = kwargs.get("name") + "_pb"

    {{ .Rule.Language.Prefix }}_{{ .Rule.Kind }}_compile(
        name = name_pb,
        **{k: v for (k, v) in kwargs.items() if k in ("deps", "verbose")} # Forward args
    )

    java_library(
        name = kwargs.get("name"),
        srcs = [name_pb],
        deps = PROTO_DEPS,
        exports = PROTO_DEPS,
        visibility = kwargs.get("visibility"),
        tags = kwargs.get("tags", []),
    )
