---
layout: default
title: {{ .Rule.Name }}
permalink: {{ .Rule.Language.Name }}/{{ .Rule.Name }}
parent: {{ .Rule.Language.Name }}
---

# {{ .Rule.Name }}

Generates protocol buffer sources for the [{{ .Rule.Language.Name }}](/{{ .Rule.Language.Name }}) language.

## `WORKSPACE`

```python
{{ template "WORKSPACE.tmpl" . }}
```

## `BUILD.bazel`

```python
{{ template "BUILD.tmpl" . }}
```

## Plugins

| Label | Tool | Outputs |
| ---- | ---- | ------- |{{ range .Rule.Plugins }}
| `{{ .Label }}` | {{ .Tool }} | {{ range .Outputs }} `{{ . }}`{{ end }} |
{{ end }}

## Dependencies

```python
{{ template "deps.bzl.tmpl" . }}
```