# Start with --all_incompatible_changes by default
build --all_incompatible_changes
build --incompatible_use_toolchain_resolution_for_java_rules=false
# compile.bzl proto_compile declares an output
build --incompatible_no_rule_outputs_param=false
# com_github_grpc_grpc/bazel/generate_cc.bzl: 81
build --incompatible_disallow_struct_provider_syntax=false