# Start with --all_incompatible_changes by default
build --all_incompatible_changes
# 
build --incompatible_disallow_struct_provider_syntax=false
# 
build --incompatible_use_toolchain_resolution_for_java_rules=false
