package main

import (
	"io/ioutil"
	"os"
	"testing"

	"github.com/bazelbuild/rules_go/go/tools/bazel_testing"
	// "github.com/stackb/rules_proto/tools/protogen/bazel_testing"
)

func TestMain(m *testing.M) {
	// suite := bazel_testing.ProtoRuleTestSuite{
	// 	RuleName:         "{{ .Rule.Name }}",
	// 	WorkspaceContent: workspaceContent,
	// 	BuildContent:     buildContent,
	// }
	// suite.Setup()
	// defer suite.Teardown()

	bazel_testing.TestMain(m, bazel_testing.Args{
		Main: "main.txtar",
		SetUp: func() error {
			return ioutil.WriteFile("main.txtar", []byte(txtar), os.ModePerm)
		},
	})

	// os.Exit()
}

var txtar = `
-- WORKSPACE --
{{ template "WORKSPACE.tmpl" . }}
-- BUILD.bazel --
{{ template "BUILD.tmpl" . }}
`
